<?xml version="1.0" encoding="utf-8"?>
<configuration>


<connectionStrings><add name="TimeManagerContext" connectionString="metadata=res://*/Data.TimeManagerModel.csdl|res://*/Data.TimeManagerModel.ssdl|res://*/Data.TimeManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Data\TimeManager.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
